In [1]:
pip install requests beautifulSoup4

Requirement already satisfied: requests in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (2.25.0)
Requirement already satisfied: beautifulSoup4 in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (4.9.3)
Requirement already satisfied: chardet<4,>=3.0.2 in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (from requests) (3.0.4)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (from requests) (1.25.11)
Requirement already satisfied: certifi>=2017.4.17 in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (from requests) (2020.12.5)
Requirement already satisfied: idna<3,>=2.5 in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (from requests) (2.10)
Requirement already satisfied: soupsieve>1.2; python_version >= "3.0" in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (from beautifulSoup4) (2.1)
Note: you may need to restart the kernel to use updated packages.

In [2]:
from bs4 import BeautifulSoup
import requests
import parser

In [3]:
import pandas as pd

In [4]:
List_url = "https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M"
source = requests.get(List_url).text

In [5]:
pip install lxml

Requirement already satisfied: lxml in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (4.6.2)
Note: you may need to restart the kernel to use updated packages.

In [6]:
Toronto=BeautifulSoup(source)

In [7]:
table=Toronto.find('table')

In [8]:
columns_names=['PostalCode','Borough','Neighborhood']
df = pd.DataFrame(columns = columns_names)

In [9]:
for tr_cell in table.find_all('tr'):
    row_data=[]
    for td_cell in tr_cell.find_all('td'):
        row_data.append(td_cell.text.strip())
    if len(row_data)==3:
        df.loc[len(df)] = row_data

In [10]:
df.head()

  PostalCode           Borough               Neighborhood
0        M1A      Not assigned               Not assigned
1        M2A      Not assigned               Not assigned
2        M3A        North York                  Parkwoods
3        M4A        North York           Victoria Village
4        M5A  Downtown Toronto  Regent Park, Harbourfront

In [11]:
df=df[df['Borough'] !='Not assigned']

In [12]:
df['Neighborhood'].loc[df['Neighborhood']=='Not assigned']
df.head()

  PostalCode           Borough                                 Neighborhood
2        M3A        North York                                    Parkwoods
3        M4A        North York                             Victoria Village
4        M5A  Downtown Toronto                    Regent Park, Harbourfront
5        M6A        North York             Lawrence Manor, Lawrence Heights
6        M7A  Downtown Toronto  Queen's Park, Ontario Provincial Government

In [13]:
print(df)

    PostalCode           Borough  \
2          M3A        North York
3          M4A        North York
4          M5A  Downtown Toronto
5          M6A        North York
6          M7A  Downtown Toronto
..         ...               ...
160        M8X         Etobicoke
165        M4Y  Downtown Toronto
168        M7Y      East Toronto
169        M8Y         Etobicoke
178        M8Z         Etobicoke

                                          Neighborhood
2                                            Parkwoods
3                                     Victoria Village
4                            Regent Park, Harbourfront
5                     Lawrence Manor, Lawrence Heights
6          Queen's Park, Ontario Provincial Government
..                                                 ...
160      The Kingsway, Montgomery Road, Old Mill North
165                               Church and Wellesley
168  Business reply mail Processing Centre, South C...
169  Old Mill South, King's Mill Park, Sunnylea, Hu...
178  Mimico NW, The Queensway West, South of Bloor,...

[103 rows x 3 columns]

In [14]:
df.shape

(103, 3)

In [15]:
Geo_data=pd.read_csv("Geospatial_Coordinates.csv")

In [16]:
Geo_data.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

In [17]:
Geo_data.rename(columns={'Postal Code':'PostalCode'}, inplace=True)

In [18]:
df.set_index("PostalCode")

,Borough,Neighborhood
PostalCode,,
M3A,North York,Parkwoods
M4A,North York,Victoria Village
M5A,Downtown Toronto,"Regent Park, Harbourfront"
M6A,North York,"Lawrence Manor, Lawrence Heights"
M7A,Downtown Toronto,"Queen's Park, Ontario Provincial Government"
...,...,...
M8X,Etobicoke,"The Kingsway, Montgomery Road, Old Mill North"
M4Y,Downtown Toronto,Church and Wellesley
M7Y,East Toronto,"Business reply mail Processing Centre, South C..."
M8Y,Etobicoke,"Old Mill South, King's Mill Park, Sunnylea, Hu..."
M8Z,Etobicoke,"Mimico NW, The Queensway West, South of Bloor,..."

In [19]:
Geo_data.set_index("PostalCode")

             Latitude  Longitude
PostalCode
M1B         43.806686 -79.194353
M1C         43.784535 -79.160497
M1E         43.763573 -79.188711
M1G         43.770992 -79.216917
M1H         43.773136 -79.239476
...               ...        ...
M9N         43.706876 -79.518188
M9P         43.696319 -79.532242
M9R         43.688905 -79.554724
M9V         43.739416 -79.588437
M9W         43.706748 -79.594054

[103 rows x 2 columns]

In [20]:
df=pd.merge(df,Geo_data)

In [21]:
df.head()

,PostalCode,Borough,Neighborhood,Latitude,Longitude
0,M3A,North York,Parkwoods,43.753259,-79.329656
1,M4A,North York,Victoria Village,43.725882,-79.315572
2,M5A,Downtown Toronto,"Regent Park, Harbourfront",43.654260,-79.360636
3,M6A,North York,"Lawrence Manor, Lawrence Heights",43.718518,-79.464763
4,M7A,Downtown Toronto,"Queen's Park, Ontario Provincial Government",43.662301,-79.389494

In [23]:
git init
git add README.md
git commit -m "first commit"
git branch -M main
git remote add origin https://github.com/B018/Capstone-Week-3.git
git push -u origin main

SyntaxError: invalid syntax (<ipython-input-23-a7e3d063daa2>, line 1)